/*---FoodPickIt---*/

* {
  padding: 0;
  margin: 0;
}
span.Main-1 {
  color: red;
}

span.Main-2 {
  color: black;
}

body {
  margin: 0;
}

h1 {
  color: black;
}

/*Classes*/

span.foodMain {
  color: red;
  padding-left: 300px;
  
}


.hero {
  
  background-color: rgba(255, 255, 255, 0.5);
  
}

.container-fluid {
  font-size: 100px;
  font-family: cursive;
  color: rgb(0, 0, 0);
  
  padding-left: 200px;
}

.Me_profile {
  padding-left: 400px;
  }


.text-justify {
  font-family: "Cormorant Garamond", serif;;
  font-size: x-large;
  padding-left: 1200px;
}

.Logo{
  padding-left: 320px;
  padding-right: 0%;
}

span.bio{
  font-size: x-large;
  box-sizing: content-box;
}

.nav-item {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ID */

#navbarSupportedContent {
  background-color: rgb(248, 248, 248);
}

/*---Picker---*/

.hero21 {
  padding-top: 370px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #d6cf70;
}

.hero22 {
  padding-bottom: 370px;
  padding-top: 50px;
  text-align: center;
  background-color: #93a439;
}

.hero3 {
  background-image: url("../Images/Background\ img3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-top: 70px;
  padding-bottom: 400px;
  color: rgb(134, 79, 70);
}

.dropdown {
  background-image: url("/HTML/Images/Background\ img5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-bottom: 400px;
  padding-top: 300px;
  text-align: center;
}

/* ID */
#dropdownMenu1 {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(143, 131, 21);
}

#dropdownMenu2 {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}

#dropdownMenu3 {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}
